<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <es-sidebar></es-sidebar>
  </div>
  <div class="main-panel">
    <es-navbar></es-navbar>
    <div class="content">
      <section class="content-header">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-6">
                    <i class="glyphicon glyphicon-user"></i> Painel Central Controle de Máquinas
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Status Atual</th>
                            <th>Visualizar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let m of listMaqs">
                            <th scope="row">{{m.codMaq}}</th>
                            <td>{{m.nomeMaquina}}</td>
                            <td style="color:#008000">{{retornaEvSt(m.eventoStatus)}}</td>
                            <td>
                              <a title="Editar Máquina"data-toggle="modal" data-target="#modalMaquina" (click)="recuperaMaq(m)"><i class="fa fa-plus"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<section>
  <div class="modal fade" id="modalMaquina" role="dialog" aria-labelledby="modalMaquina" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-md-11 col-xs-10">
              <p class="lead">{{titulo}}</p>
            </div>
            <div class="col-md-1 col-xs-2">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Data</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let m of eventoStatus">
                      <td>{{retornaEv(m)}}</td>
                      <td style="color:#FF0000">{{formataData(m.data)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">
              <i class="fa fa-window-close"></i>Fechar
            </button>
        </div>
      </div>
    </div>
  </div>
</section>
