<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Samuel Pedro Liduário
                    </a>
                </li>
                <li>
                    <a href="#">
                       Controle Maquinário
                    </a>
                </li>
                <li>
                    <a href="#">
                        Versão 1.0
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="#">Samuel Pedro</a>
        </div>
    </div>
</footer>
