
<div class="sidebar-wrapper">
    <div class="logo">
        <a [routerLink]="['/home']" class="simple-text">
            <div class="logo-img">
                <img src="./assets/img/angular2_logo.png" alt="">
            </div>
            CONTROL MAQ
        </a>
    </div>
    <ul class="nav">
      <li [routerLink]="['/home']">
          <a>
              <i class="ti-home"></i>
              <p>PAINEL PRINCIPAL</p>
          </a>
      </li>
      <li [routerLink]="['/maquina']">
          <a>
              <i class="ti-harddrives"></i>
              <p>CADASTRADO MÁQUINAS</p>
          </a>
      </li>
      <li [routerLink]="['/status']">
          <a>
              <i class="ti-view-list-alt"></i>
              <p>CADASTRO STATUS</p>
          </a>
      </li>
      <li [routerLink]="['/simulador']">
          <a>
              <i class="ti-timer"></i>
              <p>SIMULADOR</p>
          </a>
      </li>
    </ul>
</div>
