<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <es-sidebar></es-sidebar>
  </div>
  <div class="main-panel">
    <es-navbar></es-navbar>
    <div class="content">
        <section class="content-header">

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-6">
                      <i class="glyphicon glyphicon-user"></i> Cadastro de Máquinas
                    </div>
                    <div class="col-md-6">
                      <button (click)="limparCampos()" type="button" class="btn pull-right" data-toggle="modal" data-target="#modalMaquina">
                          Novo
                      </button>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Cód. Maquina</th>
                              <th>Nome</th>
                              <th>Ação</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let m of listMaqs">
                              <th scope="row">{{m.id}}</th>
                              <td>{{m.codMaq}}</td>
                              <td>{{m.nomeMaquina}}</td>
                              <td>
                                <a title="Editar Máquina"data-toggle="modal" data-target="#modalMaquina" (click)="recuperaMaq(m)"  ><i class="fa fa-edit"></i></a>
                                <a title="Excluir Máquina" ><i class="fa fa-trash" (click)="excluir(m)"></i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
  </div>
</div>
<section>
  <div class="modal fade" id="modalMaquina" role="dialog" aria-labelledby="modalMaquina" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-md-11 col-xs-10">
              <p class="lead">{{titulo}}</p>
            </div>
            <div class="col-md-1 col-xs-2">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <form #form="ngForm" novalidate>
              <div class="row invoice-info">
                <div class="col-xs-12">
                  <p class="lead">Dados Gerais</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  Código Máquina:
                  <input [(ngModel)]="maquina.codMaq" required class="form-control" name="codMaq">
                </div>
                <div class="col-md-8 col-xs-12">
                  Nome Máquina:
                  <input [(ngModel)]="maquina.nomeMaquina" required class="form-control" name="nomeMaquina">
                </div>
              </div>
              <input [(ngModel)]="maquina.id" type="hidden" name="id" >
          </form>
          <br>
        </div>
        <div class="modal-footer">
          <div class="row">
              <div class="col-xs-6">
                <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">
                  <i class="fa fa-window-close"></i>Cancelar
                </button>
              </div>
              <div class="col-xs-6">
                <button (click)="salvarMaquina()" class="btn btn-success pull-right"
                [disabled]="!form.valid" data-dismiss="modal">
                  <i class="fa fa-floppy-o"></i> Salvar
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
