<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <es-sidebar></es-sidebar>
  </div>
  <div class="main-panel">
    <es-navbar></es-navbar>
    <div class="content">
        <section class="content-header">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-6">
                      <i class="glyphicon glyphicon-user"></i> Temprizador de status das Máquinas
                    </div>
                    <div class="col-md-3">
                      <button (click)="startTemporizador()" type="button" class="btn btn-success pull-right">
                          START
                      </button>
                    </div>
                    <div class="col-md-3">
                      <button (click)="stopTemporizador()" type="button" class="btn btn-danger pull-right">
                          STOP
                      </button>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Tempo predefinido</th>
                              <th>Alterar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">{{temporizador.id}}</th>
                              <td>{{recuperaValor(temporizador.tempo)}}</td>
                              <td>
                                <a title="Alterar Temporizador"data-toggle="modal" data-target="#modalStatus"><i class="fa fa-edit"></i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
  </div>
</div>
<section>
  <div class="modal fade" id="modalStatus" role="dialog" aria-labelledby="modalStatusa" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-md-11 col-xs-10">
              <p class="lead">Temporizador</p>
            </div>
            <div class="col-md-1 col-xs-2">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-body">
            <div class="row invoice-info">
              <div class="col-xs-12">
                <p class="lead">Alterar temporizador de evento de status</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-12">
                MÊS(ES):
                <select class="form-control" [(ngModel)]="mes">
                  <option *ngFor="let mes of listMeses" value="{{mes}}">{{mes}}</option>
                </select>
              </div>
              <div class="col-md-2 col-xs-12">
                DIAS:
                <select class="form-control" [(ngModel)]="dias">
                  <option *ngFor="let dia of listDias" value="{{dia}}">{{dia}}</option>
                </select>
              </div>
              <div class="col-md-2 col-xs-12">
                HORAS:
                <select class="form-control" [(ngModel)]="horas">
                  <option *ngFor="let hora of listHoras" value="{{hora}}">{{hora}}</option>
                </select>
              </div>
              <div class="col-md-2 col-xs-12">
                MINUTOS:
                <select class="form-control" [(ngModel)]="minutos">
                  <option *ngFor="let min of listMinutos" value="{{min}}">{{min}}</option>
                </select>
              </div>
              <div class="col-md-2 col-xs-12">
                SEGUNDOS:
                <select class="form-control" [(ngModel)]="segundos">
                  <option *ngFor="let seg of listSegundos" value="{{seg}}">{{seg}}</option>
                </select>
              </div>
            </div>
          <br>
        </div>
        <div class="modal-footer">
          <div class="row">
              <div class="col-xs-6">
                <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">
                  <i class="fa fa-window-close"></i>Cancelar
                </button>
              </div>
              <div class="col-xs-6">
                <button (click)="salvaTemporizador()" class="btn btn-success pull-right" data-dismiss="modal">
                  <i class="fa fa-floppy-o"></i> Salvar
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
